.tabmenu {
	visibility: hidden;
}

#RESShortcutsEditContainer {
	margin-right: 0 !important;
}

body.hide-sidebar {
	min-width: 0 !important;
}

body.hide-sidebar .content {
	margin-right: 20px;
}

body.hide-sidebar .side {
	display: none;
}

body.hide-sidebar .panestack-title {
	margin-right: 20px;
}

body.hide-sidebar .sitetable.nestedlisting {
	margin-right: 20px;
}

body.hide-sidebar .md {
	max-width: none !important;
}

.expando-button {
    background: #e2b0e1 !important;
    box-sizing: border-box;
    border-top: 1px solid lightblue;
    border-right: 2px dotted lightblue;
    border-bottom: 2px dotted lightblue;
    border-left: 1px solid lightblue;
}

#toggle-hide-show-button {
	margin-right: 4px;
    display: inline-block;
    padding: 0 3px;
    cursor: pointer;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
}
#toggle-hide-show-button:hover {
    text-decoration: underline;
}

.user > a {
    display: none !important;
}